// .productsContainer {
//   width: 100%;
//   display: grid;
//   grid-template-columns: repeat(3, 0fr);
//   grid-row-gap: 20px;
//   grid-column-gap: 75px;
//   justify-items: center;
//   justify-content: center;
//   margin-top: 30px;
//   margin-bottom: 20px;
  

//   .product {
//     width: 200px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     gap: 10px;
//     border: rgb(180, 178, 178);
//     border-style:ridge;
//     border-inline: 5px;
//     border-radius: 24px;
//     margin-bottom: 30px;
    
    

//     img {
//       width: 100%;
//       border-radius: 24px;
//     }

//     p {
//       font-family: Roboto;
//       text-align: center;
//       font-weight: bolder;
//       height: 120px;
//     }

//     button {
//       border: none;
//       border-radius: 3px;
//       padding: 5px 10px;
//       cursor: pointer;
//     }

//     button:hover {
//       background-color: #cecece;
//     }
//   }
// }




.productsContainer {
  // width: 100%;
  // display: grid;
  // grid-template-columns: repeat(5, 0fr);
  // grid-row-gap: 20px;
  // grid-column-gap: 75px;
  display: flex;
  // justify-items: center;
  // justify-content: center;
  justify-content: flex-start;
  margin-top: 30px;
  margin-bottom: 20px;
  color: aliceblue;
  flex-wrap: wrap;
  margin: 50px 10% ;
  // box-sizing: border-box;
  gap: px;

  .product {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: rgb(24, 0, 0);
    border-style:double;
    // border-inline: 5px;
    border-radius: 14px;
    margin-bottom: 30px;
    background-color: #580016;
    flex-wrap: wrap;
    // box-sizing: border-box;
    
    // margin: 10px 10%;
    
    

    img {
      width: 100%;
      border-radius: 14px;
    }

    p {
      // font-family: Roboto;

      text-align: center;
      // font-weight: bolder;
      height: 90px;
      font-family: "Source Sans 3", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size:larger;
    }

    button {
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      cursor: pointer;
      width: 70%;
      background-color: rgb(7, 7, 80);
      color: #f0f0f0;
      font-weight: 600;
    }

    button:hover {
      background-color: #6baed4;
      color: black;
    }
  }
}


@media (max-width: 990px) {
  .product {
    width: 100px;
    
  }

  // .productsContainer {
  //   width: 100% ;
  // }  
}


